h3 Deliverables


div(id='deliverableCards')

if project
  each deliverable in project.deliverables
    script.
      load_deliverable("#{project.id}-#{deliverable.id}", "#{deliverable.asset}", "#{deliverable.start_date}", "#{deliverable.due_date}", #{deliverable.past_due}, #{deliverable.is_delivered}, true);

.panel.addnew
  .form-group
    label(for='asset') Add new Deliverable:
    input#asset.form-control(type='text', placeholder='deliverable name', name='asset')
  .form-group
    label(for='start_date') Start Date:
    input(type='text', name='start_date', id='datepicker_start')
  .form-group
    label(for='due_date') Due Date:
    input(type='text', name='due_date', id='datepicker_due')
  .form-group
    label(for='past_due') Past Due:
    input#past_due.form-control(type='checkbox', name='past_due')
  .form-group
    label(for='is_delivered') Delivered:
    input#is_delivered.form-control(type='checkbox', name='is_delivered')
  .form-group
    button.btn.btn-primary(type="button", onclick='insert_deliverable();') Add Deliverable

script.
   var startPicker = new Pikaday({ field: document.getElementById('datepicker_start') });
   var duePicker = new Pikaday({ field: document.getElementById('datepicker_due') });

